﻿@model ProjectWeb_2.Models.NguyenLieu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>NguyenLieu</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.STT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.STT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DonVi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DonVi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenNguyenLieu)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenNguyenLieu)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.MoTa)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
