﻿@model ProjectWeb_2.Models.Voucher

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Voucher</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenVoucher)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenVoucher)
            @Html.ValidationMessageFor(model => model.TenVoucher)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaKM)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaKM)
            @Html.ValidationMessageFor(model => model.GiaKM)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GiaGoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GiaGoc)
            @Html.ValidationMessageFor(model => model.GiaGoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLuong)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuong)
            @Html.ValidationMessageFor(model => model.SoLuong)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChiTiet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChiTiet)
            @Html.ValidationMessageFor(model => model.ChiTiet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DieuKienApDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DieuKienApDung)
            @Html.ValidationMessageFor(model => model.DieuKienApDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hinh)
            @Html.ValidationMessageFor(model => model.Hinh)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
