﻿@model ProjectWeb_2.Models.Voucher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Voucher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenVoucher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenVoucher)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaKM)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaKM)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GiaGoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GiaGoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuong)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuong)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChiTiet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChiTiet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DieuKienApDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DieuKienApDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinh)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
