﻿@model MyBlog_1.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
Tag: @foreach (var t in Model.Tags)
{ 
   @Html.ActionLink(t.Content, "Search", new { searchtext = t.Content})
}

<fieldset>
    <legend>Post</legend>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DateUpdated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateUpdated)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

<h2>Add Comment</h2>

@Html.Partial("_addComment", new MyBlog_1.Models.Comment(), ViewData)

<h2>Comment</h2>

<fieldset>
    <legend>Comment</legend>
    <div id="result">
        @foreach (var comment in Model.Comments.OrderByDescending(x => x.LastTime).Take(10))
        {
            <div class="display-field">
                @Html.DisplayFor(x => comment.Author): <b>@Html.DisplayFor(x => comment.Body) </b>
            </div>
            <div class="display-field">
                Cách đây  @Html.DisplayFor(x => comment.LastTime) phút
            </div>
            <br />

        }
    </div>
</fieldset>

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
