﻿@model MyBlog_1.Models.Comment

<div class="display-field">
    Cách đây  @Html.DisplayFor(model => model.LastTime) phút
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body )
</div>

