﻿    @model ProjectWeb_2.Models.Comment

    <div class="display-field">
        Cách đây  @Html.DisplayFor(model => model.LastTime) phút
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

