﻿@model ProjectWeb_2.Models.Comment

@using (Html.BeginForm("Create", "Comment", new { idbaiviet = ViewData["idbaiviet"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comment</legend>
        Nội dung:
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung )
            @Html.ValidationMessageFor(model => model.NoiDung )
        </div>
        Tác giả:
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfile.UserName )
            @Html.ValidationMessageFor(model => model.UserProfile.UserName)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}