﻿@model ProjectWeb_2.Models.BaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenBaiViet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenBaiViet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MoTa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MoTa)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ThoiGianChuanBi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ThoiGianChuanBi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TongThoiGian)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TongThoiGian)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayChinhSua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayChinhSua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TongNguoiRat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TongNguoiRat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TongRat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TongRat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiBaiViet.TenLoai)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiBaiViet.TenLoai)
    </div>

</fieldset>

<h2>Add Comment</h2>

@Html.Partial("_addComment", new ProjectWeb_2.Models.Comment(), ViewData)

<h2>Comment</h2>

<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x => x.LastTime).Take(5))
    {
        <div class="display-field">
            @Html.DisplayFor(x => comment.UserProfile.UserName ): <b>@Html.DisplayFor(x => comment.NoiDung) </b>
        </div>
        <div class="display-field">
            Cách đây  @Html.DisplayFor(x => comment.LastTime) phút
        </div>
        <br />
    }
    </fieldset> 
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
