﻿@model ProjectWeb_2.Models.BaiViet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BaiViet</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBaiViet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBaiViet)
            @Html.ValidationMessageFor(model => model.TenBaiViet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MoTa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MoTa)
            @Html.ValidationMessageFor(model => model.MoTa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ThoiGianChuanBi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ThoiGianChuanBi)
            @Html.ValidationMessageFor(model => model.ThoiGianChuanBi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TongThoiGian)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TongThoiGian)
            @Html.ValidationMessageFor(model => model.TongThoiGian)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hinh)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hinh)
            @Html.ValidationMessageFor(model => model.Hinh)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayTao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayTao)
            @Html.ValidationMessageFor(model => model.NgayTao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayChinhSua)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayChinhSua)
            @Html.ValidationMessageFor(model => model.NgayChinhSua)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TongNguoiRat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TongNguoiRat)
            @Html.ValidationMessageFor(model => model.TongNguoiRat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TongRat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TongRat)
            @Html.ValidationMessageFor(model => model.TongRat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileUserId, "UserProfile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UserProfileUserId", String.Empty)
            @Html.ValidationMessageFor(model => model.UserProfileUserId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiBaiVietID, "LoaiBaiViet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LoaiBaiVietID", String.Empty)
            @Html.ValidationMessageFor(model => model.LoaiBaiVietID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
