﻿@model IEnumerable<ProjectWeb_2.Models.BaiViet>

@{
    ViewBag.Title = "MonAn";
}

<h2>MÓN ĂN</h2>

@*<td>@Html.ActionLink("Thêm bài viết", "ThemBaiViet")</td>*@


<ul id="menu">
    <li>@Html.ActionLink("Món Mặn", "MonAn", new { id = 1})</li>
    <li>@Html.ActionLink("Món Canh", "MonAn",  new { id = 2 })</li>
    <li>@Html.ActionLink("Món Xào", "MonAn", new { id = 3 })</li>
</ul>


@Html.ActionLink("Create", "BaiViet", new { loai = "MonAn", loaimonan ="MonMan"});

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBaiViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianChuanBi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongThoiGian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayChinhSua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongNguoiRat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongRat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBaiViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianChuanBi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongThoiGian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayChinhSua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongNguoiRat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongRat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Yêu Thích", "YeuThich","YeuThich", new { id = item.ID })

        </td>
    </tr>
}

</table>
