﻿@model IEnumerable<ProjectWeb_2.Models.BaiViet>

@{
    ViewBag.Title = "SucKhoe";
}

<h2>SỨC KHỎE</h2>

<td>@Html.ActionLink("Thêm bài viết", "ThemBaiViet")</td>

<ul id="menu">
    <li>@Html.ActionLink("Làm Đẹp", "SucKhoe", new { id = 4 })</li>
    <li>@Html.ActionLink("Giảm Cân", "SucKhoe", new { id = 5 })</li>
</ul>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBaiViet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Hinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayChinhSua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongNguoiRat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongRat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile.UserName)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBaiViet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Hinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayChinhSua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongNguoiRat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongRat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile.UserName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Yêu Thích", "YeuThich", "YeuThich", new { id = item.ID })
        </td>
    </tr>
}

</table>
