﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                

                </div>
                @using (Html.BeginForm("Search", "BaiViet", FormMethod.Post))
                {
                    <fieldset>
                        <div>
                            @Html.TextBox("searchtext")
                            <input type="submit" value="Search" />
                        </div>
                    </fieldset>
                }

                <div class="float-right" >
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("TRANG CHỦ", "Index", "Home")</li>
                            <li>@Html.ActionLink("MÓN ĂN", "MonAn", "BaiViet")</li>
                            <li>@Html.ActionLink("SỨC KHỎE", "SucKhoe", "BaiViet")</li>
                            <li>@Html.ActionLink("KINH NGHỆM HAY", "KinhNghiemHay", "BaiViet")</li>
                            <li>@Html.ActionLink("VOUCHER", "Index", "Voucher")</li>
                            <li>@Html.ActionLink("YÊU THÍCH", "Index", "YeuThich")</li>

                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
