﻿@model ProjectWeb_2.Models.QuyDoiVoucher

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuyDoiVoucher</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HanQuyDoi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HanQuyDoi)
            @Html.ValidationMessageFor(model => model.HanQuyDoi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoLuongQD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoLuongQD)
            @Html.ValidationMessageFor(model => model.SoLuongQD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HinhThuc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HinhThuc)
            @Html.ValidationMessageFor(model => model.HinhThuc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TinhTrang)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TinhTrang)
            @Html.ValidationMessageFor(model => model.TinhTrang)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VoucherID, "Voucher")
        </div>
        <div class="editor-field">
            @Html.DropDownList("VoucherID", String.Empty)
            @Html.ValidationMessageFor(model => model.VoucherID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
