﻿@model ProjectWeb_2.Models.QuyDoiVoucher

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>QuyDoiVoucher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HanQuyDoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HanQuyDoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongQD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongQD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhThuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhThuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Voucher.TenVoucher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voucher.TenVoucher)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
