﻿@model ProjectWeb_2.Models.QuyDoiVoucher

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuyDoiVoucher</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HanQuyDoi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HanQuyDoi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoLuongQD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoLuongQD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HinhThuc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HinhThuc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TinhTrang)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TinhTrang)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Voucher.TenVoucher)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Voucher.TenVoucher)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
