﻿@model IEnumerable<ProjectWeb_2.Models.QuyDoiVoucher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HanQuyDoi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongQD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhThuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voucher.TenVoucher)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HanQuyDoi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongQD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhThuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voucher.TenVoucher)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
